<style>
  .quote > p {
    margin-bottom: 0;
  }
  .wrapper > * {
    margin: 1em auto;
    max-width: 1200px;
    width: 100%;
    overflow: hidden;
  }
  .wrapper p {
    margin-bottom: 1.3em;
  }
  .wrapper a {
    color: tomato;
    font-weight: bold;
  }
  .wrapper a:hover,
  .wrapper a:focus {
    color: red;
  }
  .heading--main {
    margin-top: 0;
    font-size: 1.999em;
  }
    @media only screen and (min-width: 600px) {
      .heading--main {
        font-size: 3.998em;
      }
    }
  .wrapper--header {
    background-color: tomato;
  }
  .navigation {
    list-style-type: none;
    padding-left: 0;
    margin: .5em 0;
  }
  .nav-item {
    display: inline-block;
  }
  .nav-item a {
    display: block;
    padding: .5em;
    margin: 0;
    color: white;
    text-decoration: none;
  }
  .nav-item a:hover,
  .nav-item a:focus {
    background-color: red;
    color: white;
    border-radius: .3em;
    transition: background-color .3s;
    outline: 0;
  }
  .heading {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
  }
  .wrapper--footer {
    background-color: dodgerblue;
    color: white;
    text-align: center;
  }
  .heading--secondary {
    font-size: 1.999em;
  }
    @media only screen and (min-width: 600px) {
      .heading--secondary {
        font-size: 2.827em;
      }
    }
  .heading--minor {
    font-size: 1.999em;
  }
  .quote {
    background-color: ghostwhite;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
    font-size: 1.2em;
    position: relative;
    margin-top: 2em;
  }
  .quote q::before {
    font-size: 600%;
    color: #ccc;
    position: absolute;
    left: -.2em;
    top: -.3em;
    font-family: cursive;
  }
  .wrapper {
    line-height: 1.45;
  }
  .quote q::after {
    display: none;
  }
</style>

<header>
  <nav>
    <ul>
      <li><a href="#nowhere">Lorem</a></li>
      <li><a href="#nowhere">Aliquam</a></li>
      <li><a href="#nowhere">Morbi</a></li>
      <li><a href="#nowhere">Praesent</a></li>
      <li><a href="#nowhere">Pellentesque</a></li>
    </ul>
  </nav>
</header>

<main>
  <div>
    <h1>HTML Ipsum Presents</h1>

    <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

    <h2>Header Level 2</h2>

    <ol>
      <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
      <li>Aliquam tincidunt mauris eu risus.</li>
    </ol>

    <blockquote>
      <p><q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</q></p>
      <p>by: <cite>Abraham Lincoln</cite></p>
    </blockquote>

    <h3>Header Level 3</h3>

    <ul>
      <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
      <li>Aliquam tincidunt mauris eu risus.</li>
    </ul>
  </div>
</main>

<footer>
  <div>
    <p>&copy; 2018 - Your company</p>
  </div>
</footer>