<style>
body {
  font-size: 300%;
}
								#special a { color: red; } 
								a#special-link { color: green; }
a { color: blue; }
</style>
<p class="paragraph" id="special">
  <a href="/" class="link" id="special-link">Home</a>
</p>